html {
    font-size: 100%;
    box-sizing: border-box;
    user-select: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-inter);
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

input {
    outline: none;
    border: none;
}



.icons {
    cursor: pointer;
}