@use '../../sass//util/' as *;
@import '../../style.scss';

.home {
    @include themify($themes) {
        background-color: themed('bgSoft');
        padding: rem(20) rem(50);

        @include breakpoint-down(small){
            padding: rem(10);
        }

        @include breakpoint-down(medium){
            padding:rem(20);
        }
    }
}