@use '../../sass//util' as *;


.stories {

    display: flex;
    height: rem(150);
    gap: rem(10);
    margin-bottom: rem(10);

    .story {
        flex: 1;
        border-radius: rem(5);
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        span {
            font-size: rem(12);
            text-transform: capitalize;
            position: absolute;
            bottom: rem(5);
            left: rem(10);
            color: var(--white-color);
            font-weight: 600;
        }

        .btn {
            position: absolute;
            height: rem(20);
            width: rem(20);
            border-radius: 50%;
            background-color: var(--blue-facebook);
            bottom: rem(25);
            left: rem(10);
            @include flexBox1;
            color: var(--white-color);
            font-size: rem(15);
            font-weight: bold;


        }
    }
}